.btn-wrapper {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color;
  transition-duration: 100ms;
}

.btn-wrapper:hover {
  background-color: #aaaaaa79;
}