.btn-wrapper {
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 20px;
  transition: background-color;
  transition-duration: 150ms;
}

.btn-wrapper:hover {
  background-color: #d1d1d1;
}