.results-wrapper {
  width: 60%;
  margin: auto;
  margin-top: 1px;
}

@keyframes appear-12 {
  from {
    opacity: 0;
    margin-top: 0;
  }
  to {
    opacity: 1;
    margin-top: 3vh;
  }
}

@keyframes appear-2 {
  from {
    opacity: 0;
    margin-top: 0;
  }
  to {
    opacity: 1;
    margin-top: 8vh;
  }
}

@keyframes appear-3 {
  from {
    opacity: 0;
    margin-top: 0;
  }
  to {
    opacity: 1;
    margin-top: 2vh;
  }
}

@keyframes appear-right {
  from {
    opacity: 0;
    margin-right: -100px;
  }
  to {
    opacity: 1;
    margin-right: 0;
  }
}

.result-description {
  font-size: 30px;
  font-weight: 600;
}

.appear-12 {
  animation: appear-12 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.appear-2 {
  animation-name: appear-2;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.result-confidence {
  margin-right: 8vw;
  font-size: 60px;
  font-weight: 600;
  display: flex;
  justify-content: end;
  animation-name: appear-3;
  animation-delay: 0.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;
}

.result-keywords {
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.keyword-bar {
  height: 60px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 25px;
  font-weight: 600;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 1vh;
  margin-left: 3vw;
  text-align: right;
  opacity: 0;
  animation-name: appear-right;
  animation-duration: 1s;
  animation-delay: 1.5s;
  animation-fill-mode: forwards;
}